<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>編集ページ</title>
        <style>
            body {
                font-family: 'Helvetica', sans-serif;
                background-color: #f5f5f5;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            h2 {
                color: #333;
                text-align: center;
            }

            form {
                width: 400px;
                margin: 20px;
                padding: 20px;
                background-color: #fff;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            label {
                display: block;
                margin-bottom: 8px;
                color: #333;
            }

            input,
            select,
            textarea {
                width: 100%;
                padding: 10px;
                margin-bottom: 16px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 14px;
            }

            .updateButton {
                background-color: #4CAF50;
                color: #fff;
                padding: 12px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
                transition: background-color 0.3s;
                width: 50%;
            }

            .updateButton:hover {
                background-color: #45a049;
            }

            .mainUpdateButton {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <form action="/update/<%= persona.id %>" method="post">
            <h2>レビュー更新ページ</h2>
            <div>
                <label for="updateUsername">新しい名前:</label>
                <input type="text" id="updateUsername" name="username" value="<%= persona.username %>" required>
            </div>
            <div>
                <label for="updateAge">新しい年齢:</label>
                <input type="number" id="updateAge" name="age" value="<%= persona.age %>" required>
            </div>
            <div>
                <label for="updateRating">新しい評価:</label>
                <select id="updateRating" name="rating">
                    <option value="1" <% if(persona.rating===1) { %>selected<% } %>>1</option>
                    <option value="2" <% if(persona.rating===2) { %>selected<% } %>>2</option>
                    <option value="3" <% if(persona.rating===3) { %>selected<% } %>>3</option>
                    <option value="4" <% if(persona.rating===4) { %>selected<% } %>>4</option>
                    <option value="5" <% if(persona.rating===5) { %>selected<% } %>>5</option>
                </select>
            </div>
            <div>
                <label for="updateReason">新しいレビュー理由:</label>
                <textarea id="updateReason" name="reason" required><%= persona.reason %></textarea>
            </div>
            <div class="mainUpdateButton">
                <button type="submit" class="updateButton">更新</button>
            </div>
        </form>
    </body>
</html>
